<p id="notice"><%= notice %></p>

<p>
<<<<<<< HEAD
  <b>Title:</b>
=======
  <strong>Title:</strong>
>>>>>>> 689d1183b20607793fab429a1dae87788efbdc5d
  <%= @product.title %>
</p>

<p>
<<<<<<< HEAD
  <b>Description:</b>
=======
  <strong>Description:</strong>
>>>>>>> 689d1183b20607793fab429a1dae87788efbdc5d
  <%= @product.description %>
</p>

<p>
<<<<<<< HEAD
  <b>Image url:</b>
=======
  <strong>Image url:</strong>
>>>>>>> 689d1183b20607793fab429a1dae87788efbdc5d
  <%= @product.image_url %>
</p>

<p>
<<<<<<< HEAD
  <b>Price:</b>
  <%= @product.price %>
</p>


=======
  <strong>Price:</strong>
  <%= @product.price %>
</p>

>>>>>>> 689d1183b20607793fab429a1dae87788efbdc5d
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
